<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="gsbrapports2016Entities" connectionString="metadata=res://*/gsbrapports.csdl|res://*/gsbrapports.ssdl|res://*/gsbrapports.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=root;database=gsbrapports2016&quot;" providerName="System.Data.EntityClient" />
    <add name="gsbrapports2019Entities" connectionString="metadata=res://*/gsbRapports.csdl|res://*/gsbRapports.ssdl|res://*/gsbRapports.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=root;database=gsbrapports2019&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>